{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'links.html' %}
</head>

<body onresize="sizefunction()" onscroll="scrollfunction()">

    <div class="master">
        <!-- navbar section -->
        <!-- navbar section -->
        <!-- navbar section -->
        {% include 'navbar.html' %}

        <div class="toggle" id="toggle">
            <div class="master-1">


                <!-- fixed-side-menu  -->
                <!-- fixed-side-menu  -->
                <!-- fixed-side-menu  -->
                <!-- fixed-side-menu  -->
                <!-- fixed-side-menu  -->

                <div class="center">
                    <div class="main-menu">
                        <div class="side-menu">

                            {% include 'side_menu.html' %}


                        </div>

                        <!-- main-menu-items  -->
                        <!-- main-menu-items  -->
                        <!-- main-menu-items  -->
                        <!-- main-menu-items  -->
                        <!-- main-menu-items  -->

                        <div class="menu-items">

                            {% include 'search_bar.html' %}

                           

                            <section class="all-items">

                                <h2 class="header">
                                    {% block header%}
                                    {% endblock %}</h2>

                                <div class="section-item-all">
                                    
                                    {% block content%}
                                    {% endblock %}
                                    </div>
                                


                            </section>
                        </div>

                        </div>
                    </div>
                </div>
            


            <!-- footer section  -->
            <!-- footer section  -->
            <!-- footer section  -->
            <!-- footer section  -->
            <!-- footer section  -->


            <div class="master-2">
                {% include 'footer.html' %}
             
            </div>
        </div>

        
        </div>


    
        {% block javascript %}

        {% endblock %}
</body>


</html>