{% load static %}


<div class="food-item">
    <img class="product_image" src="{{p.product_image.url}}" alt="">
    <div class="small">
        <p><b>{{p.product_name}}</b></p>
        <p><b>₹{{p.product_price}}</b></p>
        <p>{{p.product_description}}</p>
        

       
        <form action="{% url 'addtocart' p.id %}">

            <div class="update-item">
                <button type="button" class="minus-button" onclick="operation(-1,{{p.id}})"><img
                    src="{% static '/images/minus.png' %}" alt=""></button>

                <input class="item_quantity_menu" type="text" name="quantity" id="quantity-{{p.id}}" value="1">


                <button type="button" class="plus-button" onclick="operation(1,{{p.id}})"> <img
                    src="{% static '/images/plus.png' %}" alt=""></button>
            </div>
            <button class="add-to-cart-button">Add to cart<img src="{% static '/images/menu-page-images/cart-icon.png' %}">
            </button>

          </form>
    </div>

   
</div>
