{% load static %}

<nav class="navbar">
    <div class="main">
        <div class="logo">

            <a href="{% url 'homepage' %}">
                <img src="{% static '/images/home-page-images/logo.png' %}" alt="logo not available"></a>
                <a href="{% url 'homepage' %}" style="text-decoration: none; color: black;">
                <p> Crispy Chicks</p></a>
                

        </div>

        <div class="items" id="items">
            <ul>
                <li><a href="{% url 'homepage' %}" style="color: rgb(255, 255, 255);">Home</a></li>
                <li><a href="{% url 'productspage' %}">Menu</a></li>


                {% if request.user.first_name %}
    
               <li>Hello, {{request.user.first_name}}</li> 
               <li>
                <a href="{% url 'showcart' %}" class="cart-btn"><img src="{% static '/images/cart.png' %}" alt=""></a>
                <span class="badge text-bg-secondary">3</span>
            </li>
             <li> <a class="btn" href="{% url 'logoutpage' %}" role="button" id="button">Logout</a></li>  
                {% else %}


                <li><a class="btn btn-warning mx-2" href="{% url 'loginpage' %}" role="button">Login</a></li>
                
                <li><a class="btn" href="{% url 'registerpage' %}" role="button" id="button">Register</a></li>
                
                
                {% endif %}

                

            </ul>

        </div>
    </div>
    <img id="open" onclick="slide()" src="{% static '/images/home-page-images/menu.png' %}" alt="not available">
</nav>