<h3>CC Menu</h3>

<p>
    <a href="{% url 'rollpage' %}" class="side-element-1">
        New Chicken Rolls
    </a>
</p>

<p>
    <a href="{% url 'kpoppage' %}" class="side-element-2">
        Korean Popcorn
    </a>
</p>


<p> <a href="{% url 'vlspage' %}" class="side-element-3">
        Value Lunch Specials
    </a></p>


<p><a href="{% url 'wopage' %}" class="side-element-4">
        Wednesday offer!
    </a></p>


<p> <a href="{% url 'cbpage' %}" class="side-element-5">
        Chicken Buckets
    </a></p>


<p> <a href="{% url 'bmpage' %}" class="side-element-6">
        Box Meals
    </a></p>


<p> <a href="{% url 'burgerpage' %}" class="side-element-7">
        Burgers
    </a></p>


<p> <a href="{% url 'softdrinkpage' %}" class="side-element-8">
        Beverages and Desserts
    </a></p>


<p> <a href="{% url 'rbpage' %}" class="side-element-9">
        Rice Bowlz
    </a>
</p>