

/* footer section  */
/* footer section  */
/* footer section  */
/* footer section  */
/* footer section  */

.footer-section{
    position: relative;
    width: 100%;
    height: 400px;
    overflow:hidden;
    bottom: 0px;
    
}



.footer-section::-webkit-scrollbar{
    display: none;

}

.footer-image{
    width: 100%;
   filter: brightness(50%);
   z-index: -1;
   background-attachment: fixed;
   position: sticky;
 
    

}

.footer-main p:nth-child(1){

    position: absolute;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-family: "Berkshire Swash", serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 45px;

}

.footer-main p:nth-child(2){

    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-family: "Berkshire Swash", serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 45px;

}

.footer-main p:nth-child(3){

    position: absolute;
    
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: "Open Sans", sans-serif;

    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);

}



/* footer-section-responsive */
/* footer-section-responsive */
/* footer-section-responsive */
/* footer-section-responsive */
/* footer-section-responsive */

@media only screen and (max-width: 1190px) {



    .footer-main p:nth-child(1) {
        font-size: 34px;
    }
}


@media only screen and (max-width: 1030px) {



    .footer-main p:nth-child(1) {
        font-size: 30px;
    }

    .footer-main p:nth-child(2) {
        font-size: 30px;
    }

    .footer-main p:nth-child(3) {
        font-size: 16px;
    }
}

@media only screen and (max-width: 770px) {


    .footer-main p:nth-child(1) {
        font-size: 24px;
    }

    .footer-main p:nth-child(2) {
        font-size: 28px;
    }

    .footer-main p:nth-child(3) {
        font-size: 13px;
    }
}

@media only screen and (max-width: 610px) {
    


    .footer-main p:nth-child(1) {
        font-size: 18px;
        top: 26%;
    }

    .footer-main p:nth-child(2) {
        font-size: 22px;
        top: 45%;
    }

    .footer-main p:nth-child(3) {
        font-size: 9px;
        top: 65%;
    }
}


@media only screen and (max-width: 470px) {


    .footer-main p:nth-child(1) {
        font-size: 14px;
        top: 20%;
    }

    .footer-main p:nth-child(2) {
        font-size: 20px;
        top: 32%;
    }

    .footer-main p:nth-child(3) {
        font-size: 6px;
        top: 47%;
    }
}