
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */



@media only screen and (max-width: 1430px) {

    #p1 {

        
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        font-size: 80px;
    }
    
    #p2 {
    
      
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
    

        font-size: 25px;
    
    }


    #fork {

       
        top: 45%;
        left: 22%;
        opacity: 0.8;
        height: 430px;
        width: 365px;
    
    
    }
    
    #knife {
    
    
        top: 45%;
        left: 78%;
        opacity: 0.8;
        height: 430px;
        width: 65px;
    
    }

    
#line_1 {
    display: none;
}



#line_2 {
    display: none;
    
}




}

@media only screen and (max-width: 1030px) {
    .main {

        flex-direction: column;
        top: 5px;
        position: relative;
    }

    .items {
        background-color: rgb(228, 0, 43);
        width: 100%;
        position: relative;
        top: -310px;
        z-index: 1;

    }

    .items ul {

        flex-direction: column;
        margin: 20px 35px;
    }

    .items ul li {
        padding: 10px;

    }


    #open {

        display: block;

    }

    #img_1 {

        display: none;

    }

    .about {

        margin: 0px 100px;


    }


}